:root {
  --bg-color: #040714;
  --color-white: #f9f9f9;
  /* --color-white-2: #f9f9f9be; */
  --blue: #0063e5;
  --blue-light: #0483ee;

  --font: "Avenir-Roman", sans-serif;
  --primaryPurple: #646ff0;

  --bg-2: #ecedf6;
  --bg-3: #cccdde;
  --gray-1: #eee;
  --gray-2: #dedfe1;
  --black: black;
  --white: white;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font);
  font-size: 1.6rem;
  letter-spacing: 1.5px;
  background-color: var(--bg-color);
  color: var(--color-white);
}

li,
a {
  text-decoration: none;
  list-style: none;
}

@media only screen and (max-width: 30em) {
}

@media only screen and (max-width: 37.5em) {
}

@media only screen and (max-width: 48em) {
}

@media only screen and (max-width: 60em) {
}
/* 
@media only screen and (max-width: px) {
} */
